@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5 linear;
  font-family: "Baloo Da 2", cursive;
  color: #fff;
}
